
body{
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  background-color:#4C8BF5;
  color: white; /* Letras blancas */
  padding: 10px 0;
}

h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding-top: 10px;
}

.input-login{
  border-style: solid;
  display: block;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

/* Estilos para la sección de información de UV */
/* Contenedor que incluye el mapa y la información UV */
.container {
  display: flex;
  flex-direction: row; /* Elementos en fila */
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  flex-grow: 1; /* Deja que el contenedor crezca */
  height: 70vh; /* Aumenta la altura para que ocupe más espacio en la pantalla */
}

.uv-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 48%; /* Asegura que ambas secciones tengan el mismo tamaño */
  text-align: center;
  margin: 0 auto;
  flex-shrink: 0; /* Asegura que la sección de UV no se reduzca */
}

.uv-info p {
  margin: 10px 0;
  font-size: 2rem;
  color: #444;
}

.uv-level {
  margin-top: 20px;
}

.uv-bar {
  height: 20px;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  transition: width 0.3s ease, background-color 0.3s ease;
}

/* Estilos para el mapa */
#map {
  width: 48%; /* Asegura que ambas secciones tengan el mismo tamaño */
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0; /* Evita que el mapa se reduzca */
}

/* Estilo para el contenedor del boton admin */
.admin-login-container{
  align-items: center;
  align-content: center;
}
/* Estilo para el botón "admin" */
.admin-button {
  background-color: #4C8BF5; /* Azul más oscuro que el de exportar Excel */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 250px;
  margin: 20px auto; /* Asegura que el botón esté centrado */
}

.login-button{
  background-color: #4C8BF5; /* Azul más oscuro que el de exportar Excel */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 250px;
  margin: auto;
  margin-top: 20px;
}
.login-button:hover {
  background-color: #3b6cb7; /* Azul más oscuro cuando se pasa el ratón */
}

/* Estilo para el hover del botón */
.admin-button:hover {
  background-color: #3b6cb7; /* Azul más oscuro cuando se pasa el ratón */
}

.excel-button{
  background-color: #4C8BF5; /* Azul más oscuro que el de exportar Excel */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 250px;
  margin: auto;
  margin-top: 20px;
  display: block;
}

/* Estilos para la tabla de comentarios */
.comments-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 20px;
  min-height: 200px; /* Establece una altura mínima para la tabla */
}

.comments-table-header {
  background-color: #4C8BF5;
  color: white;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

.comments-table-row:nth-child(even) {
  background-color: #f9f9f9;
}

.comments-table-row:hover {
  background-color: #f1f1f1;
}

.comments-table-cell {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  overflow: hidden; /* Evita el desbordamiento de contenido */
  text-overflow: ellipsis; /* Añade puntos suspensivos si el contenido es demasiado largo */
}

.comments-table td, .comments-table th {
  font-size: 1.1rem;
}

.comments-table th {
  text-align: center;
  min-width: 100px; /* Establece un ancho mínimo para las celdas */
}
.textarea-comentario {
  display: block;
  width: 98%;  /* Ocupa casi todo el ancho disponible */
  font-size: 18px;  /* Tamaño de la fuente */
  height: 80px;  /* Altura fija para que sea adecuado para 3 líneas de texto */
  border: 1px solid #ccc;  /* Borde gris */
  border-radius: 8px;  /* Bordes redondeados */
  margin-bottom: 12px;  /* Espacio entre el input y el botón */
  padding: 12px;  /* Padding para mejorar la legibilidad */
  overflow-y: auto;  /* Permite desplazamiento vertical cuando el texto es largo */
  resize: none;  /* Evita que el usuario cambie el tamaño del textarea */
  white-space: normal;  /* Permite que el texto se envuelva a la siguiente línea */
  word-wrap: break-word;  /* Asegura que las palabras largas se ajusten dentro del textarea */
}

.eliminar-button {
  background-color: #4C8BF5; /* Azul más oscuro que el de exportar Excel */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 25%;
}