/* Estilos generales para la aplicación */
.app-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: flex-start;
}

header {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  background-color:#4C8BF5;
  color: white; /* Letras blancas */
  padding: 10px 0;
}

h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding-top: 10px;
}

input{
  border-style: solid;
  display: block;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

/* Estilos para la sección de información de UV */
.container {
  display: flex;
  flex-direction: row; /* Elementos en fila (información UV y mapa) */
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  flex-grow: 0.7;
}

.uv-info {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 48%; /* Asegura que ambas secciones tengan el mismo tamaño */
  text-align: center;
  margin: 0 auto;
  flex-shrink: 0;
  
}

.uv-info p {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #444;
}

.uv-level {
  margin-top: 20px;
}

.uv-bar {
  height: 20px;
  border-radius: 10px;
  margin: 10px 0;
  width: 100%;
  transition: width 0.3s ease, background-color 0.3s ease;
}

/* Estilos para el mapa */
#map {
  width: 48%; /* Asegura que ambas secciones tengan el mismo tamaño */
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el botón "admin" */
.admin-button {
  background-color: #4C8BF5; /* Azul más oscuro que el de exportar Excel */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 250px;
  margin: 20px auto; /* Asegura que el botón esté centrado */
}

.login-button{
  background-color: #4C8BF5; /* Azul más oscuro que el de exportar Excel */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 250px;
  margin: auto;
  margin-top: 20px;
}
.login-button:hover {
  background-color: #3b6cb7; /* Azul más oscuro cuando se pasa el ratón */
}

/* Estilo para el hover del botón */
.admin-button:hover {
  background-color: #3b6cb7; /* Azul más oscuro cuando se pasa el ratón */
}

.excel-button{
  background-color: #4C8BF5; /* Azul más oscuro que el de exportar Excel */
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: auto;
  max-width: 250px;
  margin: auto;
  margin-top: 20px;
  display: block;
}